<div class="columns">
  <div class="column">
    <!-- cardForm is the parent of <app-card>. app.card is expecting this propertis in Input() -->
    <app-card
      [name]="cardForm.get('name').value"
      [cardNumber]="cardForm.get('cardNumber').value"
      [expiration]="cardForm.get('expiration').value"
    ></app-card>
  </div>
  <div class="column">
    <!-- we are binding formGroup to the reactive form -->
    <!-- (ngSubmit) is listening for submit event -->
    <!-- form is going to pass each value to the "cardForm" -->
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <!-- we are passing cardForm as "control" property to the INput component. since we are binding a property it is in [], label is not-->
      <app-input label="Name" [control]="cardForm.get('name')"> </app-input>
      <app-input label="Card Number" [control]="cardForm.get('cardNumber')">
      </app-input>
      <div class="columns">
        <div class="column">
          <app-input label="Expiration" [control]="cardForm.get('expiration')">
          </app-input>
        </div>
        <div class="column">
          <app-input
            label="Security Code"
            [control]="cardForm.get('securityCode')"
          >
          </app-input>
        </div>
      </div>
      <div class="buttons">
        <!-- "invalid" when the value is invalid -->
        <button
          class="button is-primary"
          [disabled]="cardForm.invalid"
          type="submit"
        >
          Submit
        </button>
        <!-- default type of button is "submit" triggers the form submission -->
        <button
          class="button is-warning"
          type="button"
          (click)="onResetClick()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>

<hr />
<div>Form Contents: {{ cardForm.value | json }}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Errors around name:{{ cardForm.controls.name.errors | json }}</div>
